.QuizList{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    flex-grow: 1;
    width: 100%;
    background: #ff426a
}

.QuizList h1 {
    color: #ffffff;
}

.QuizList ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.QuizList li {
    margin-bottom: 10px;
}

.QuizList li a {
    text-decoration: none;
    color: #fff;
}

.QuizList li a:hover {
    color: #363d54;
}